
body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #56abb4;
}

.container {
  max-width: 800px;
  margin: 120px auto;
  padding: 80px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #171f2b;
  color: #ffff;
  text-align: center;
  line-height: 1.8;
}

.nome{
  color:#02626d;
}
.texto{
  color: #0097a7;
}
a {
  margin-right: 10px;
  text-decoration: none;
  color:#56abb4;

}


li{
  list-style: none;
}

/* Estilos para dispositivos de tela pequena */
@media screen and (max-width: 600px) {
  
  body {
    font-size: 14px;
  }
}

/* Estilos para dispositivos de tela média */
@media screen and (min-width: 601px) and (max-width: 1024px) {

  body {
    font-size: 16px;
  }
}

/* Estilos para dispositivos de tela grande */
@media screen and (min-width: 1025px) {
  
  body {
    font-size: 18px;
  }
}
